#plugin__dwstats div.plg_stats_timeselect ul,
#plugin__dwstats div.plg_stats_timeselect ul li,
#plugin__dwstats div.plg_stats_timeselect form {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
    text-align: left;
}

#plugin__dwstats div.plg_stats_timeselect ul li,
#plugin__dwstats div.plg_stats_timeselect input {
    margin: 0 0.5em 0 0;
}

#plugin__dwstats div.plg_stats_timeselect input.edit {
    width: 6em;
}

#plugin__dwstats div.plg_stats_timeselect {
    margin-bottom: 1em;
}

#plugin__dwstats img.graph {
    background: transparent url(ico/load.gif) center center no-repeat;
    margin: 1em 0;
}

#plugin__dwstats .plg_stats_dashboard div {
    padding-bottom: 2em;
}

#plugin__dwstats .plg_stats_top div {
    padding: 0;
}

#plugin__dwstats .plg_stats_top {
    font-size: 120%;
}

#plugin__dwstats .left {
    float: left;
}

#plugin__dwstats table {
    width: 500px;
}

#plugin__dwstats .plg_stats_pager {
    width: 500px;
}

#plugin__dwstats .plg_stats_pager a.next {
    float: right;
}

#plugin__dwstats .plg_stats_pager a.prev {
    float: left;
}

